{% extends 'base.html.twig' %}

{% block title %}
	Produits
{% endblock %}

{% block body %}
	<div class="container">
		<div id="error"></div>	
		<table id="datatable" class="table table-striped table-bordered" style="width:100%">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Prix</th>
				</tr>
			</thead>
			<tbody>
				{% for product in products %}
					<tr>
						<td>{{product.name}}</td>
						<td>{{product.totalPrice}}</td>
					</tr>
				{% endfor %}
			</tbody>
			<tbody></tbody>
		</table>
		<button class="btn btn-primary" data-toggle="modal" data-target="#modal">Ajouter</button>


		<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Ajouter produit</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						{{ form_start(form, {'action': path('add_product'), 'method': 'POST'}) }}
							<div class="form-group">
								{{form_row(form.name)}}
							</div>
							<div class="form-group">
								{{form_row(form.description)}}
							</div>
							<div class="form-group">
								{{form_row(form.price)}}
							</div>
							<div class="form-group">
								{{form_row(form.image)}}
							</div>
							<button type="submit" class="btn btn-primary" id="new-product">
								Ajouter
							</button>
						{{ form_end(form) }}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
